<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

 <div class="pont">
 <h1> 
 <div style = "padding: 100px 100px 5px 100px;">   
 WORD COUNT?
</div>
 </h1>

 <div class='size'>
 <p>
    단어의 갯수를 세어주고 몇번 반복되었는지를 알려주는 프로그램 입니다!
 </p>
<a href="{%url 'home'%}">LET's COUNT!</a>
</div>
</div>
</body>
</html>
<style>
 @import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
 .pont {font-family: 'Black Han Sans', sans-serif;}
 body{
     background-color: rgb(165, 165, 252);
     
     text-align: center;
 }
 h1{
     font-size: 300%;
     color:rgb(73, 59, 201);
 }
 .size{
     font-size:200%;
     color:rgb(107, 94, 221);
     font-family: 'Black Han Sans', sans-serif;
 }
</style>