<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 <div class='pont'>
 <div style = "padding: 300px 100px 5px 100px;">  
 <p>WELCOME WORDCOUNT!</p>
 </div>
 <h2><a href="{%url 'home'%}">LET's wordcount</a></h2>
 <br>
 <br>
 <div class='about'>
 <a href="{%url 'about'%}">what is wordcount?</a>
</div>
 </div>
 
</body>
</html>
<style>
 @import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
 .pont {font-family: 'Black Han Sans', sans-serif;
        text-align: center}
 body {background-image:url(https://cdn.pixabay.com/photo/2018/10/15/13/20/cloud-3748950_960_720.jpg);
    background-size: cover;
 }
 p{
    font-size: 500%;
     color:rgb(72, 71, 92);
 }
 h2{
     font-size: 300%;
 }
 .about{
     font-size: 200%;
 }
 </style>